# Compiled class file
*.class

# Log file
*.log
.DS_Store
# BlueJ files
*.ctxt
log/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/Craft_Database_Server/target
/Craft_Database_Server/out
/Craft_Database_Client/target
/Craft_Database_out/out

#Maven Target
/target
/target/*
Engine/target
Engine/target/*

# IDE
.idea/
*.iml
nbproject/*
*/out/production/*
*/out/artifacts/*
/Engine/nbproject/
